.desktop 
{
    display: flex;
    align-items: flex-start;
}
  
.icon 
{
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.icon:hover
{
    border: 2px dotted white;
    background: #00000055;
}

.icon:active 
{
    border: 2px dotted white;
    background-color: #000080aa;
}

.icon span 
{
    display: none;
    margin-top: 15px;
    font-size: 15px;
    color: white;
}

.icon:hover span 
{
    display: block;
}

.icon img
{
    width: 100px;
    height: 100px;
}

.taskbar 
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: silver;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #000000;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}
  
.taskbar .start-button 
{
    display: flex;
    align-items: center;
    gap: 7px;
    background: #c0c0c0;
    border: 2px solid #000;
    border-top-color: #fff;
    border-left-color: #fff;
    cursor: pointer;
    user-select: none;
}

.taskbar :active
{
    background-color: #a0a0a0;
    border-color: #000 #fff #fff #000;
}

.taskbar-menu
{
    position: fixed;
    bottom: 50px;
    left: 10px;
    background: #8d8d8d;
    border: 2px solid #000;
    border-top-color: #fff;
    border-left-color: #fff;
    width: auto;
    z-index: 1001;
}

.taskbar-menu-items .menu-item
{
    padding: 10px;
    background: #c0c0c0;;
    /* border: 1px solid #999; */
    margin-left: 30px;
    cursor: pointer;
}

.taskbar-menu-items .menu-item:hover
{
    background-color: #000080;
    color: white;
}

.taskbar-menu-items .first-menu-item
{
    padding: 10px;
    background: #c0c0c0;;
    border-top: 2px solid white;
    box-shadow: 0 -2px 0 #797979;
    margin-left: 30px;
    cursor: pointer;
}

.taskbar-menu-items .first-menu-item:hover
{
    background-color: #000080;
    color: white;
}

.taskbar .start-button span
{
    font-size: 12px;
    padding: 0px 3px;
}

.taskbar .start-button img
{
    padding: 0px -12px;
    width: 35px;
    height: 35px;
}
  
.taskbar-items 
{
    flex: 1;
    margin-left: 10px;
    display: flex;
    gap: 8px;
}