.project-content
{
  background: #d0d0d0;
  margin-top: 5%;
  border: 0.1875rem solid #fff; /* 3px */
  border-top-color: #000;
  border-left-color: #000f;
  width: 100%;
  height: calc(100% - 4.5rem); /* 40px */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.project-container 
{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.project-line 
{
  display: flex;
  flex-direction: row;
  padding: 1.875rem; /* 30px */
}

.project-text 
{
  width: 67.4%;
  height: 93%;
  margin-top: 0;
  padding: 0 1.25rem 0.625rem 0;
  font-size: 1rem;
  line-height: 1.4;
}

.project-text h3
{
  font-size: 0.9375rem;
  margin-top: 1.875rem;
}

.project-container::-webkit-scrollbar
{
  width: 1vw;
}

.project-container::-webkit-scrollbar-track 
{
  background: #d0d0d0;
  margin-top: 0.625rem; /* 10px */
  margin-bottom: 0.625rem; /* 10px */
}

.project-container::-webkit-scrollbar-thumb 
{
  background: #888;
  border: 0.0625rem solid #d0d0d0; /* 1px */
}

.project-container::-webkit-scrollbar-thumb:hover 
{
  background: #555;
}

.project-photo 
{
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 0.625rem; /* 10px */
  box-sizing: border-box;
}

.project-photo img 
{
  margin-top: 1.875rem; /* 30px */
  border: 0.3125rem solid #000; /* 5px */
  border-color: #000 #fff #fff #000;
  max-width: 70%;
  max-height: 70%;
}
