.window {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 56.25rem;
  height: 37.5rem;
  background: silver;
  border: 0.125rem solid black;
  z-index: 999; 
  box-shadow: 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

.window-header {
  background: #000080;
  color: white;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.close-button {
  background: #c0c0c0;
  border: 0.125rem solid #000;
  border-top-color: #fff;
  border-left-color: #fff;
  cursor: pointer;
  user-select: none;
}

.close-button:hover {
  background: #a0a0a0;
}

.close-button:active {
  background: #777777;
  border: 0.125rem solid #fff;
  border-top-color: #000;
  border-left-color: #000f;
}

.close-button span {
  display: flex;
  margin-top: 0.1875rem;
  margin-left: 0.1875rem;
  font-size: 1.25rem;
  color: #e64e4e;
}

.window-content {
  padding: 0.625rem;
  background: #9f9e9e;
  height: calc(100% - 1.875rem);
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

.tabs-button button {
  font-family: 'Press Start 2P', monospace;
  font-size: 0.625rem;
  background-color: #c0c0c0;
  border: 0.125rem solid;
  border-color: #fff #000 #000 #fff;
  padding: 0.375rem 0.75rem;
  color: black;
  cursor: pointer;
  user-select: none;
  box-shadow: none;
  outline: none;
}

.tabs-button button:active {
  border-color: #000 #fff #fff #000;
  background-color: #a0a0a0;
}

.tabs-button,
.tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.625rem;
}

.tab-content {
  background: #d0d0d0;
  border: 0.1875rem solid #fff;
  border-top-color: #000;
  border-left-color: #000f;
  width: 100%;
  height: calc(100% - 2.5rem);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.about-text {
  width: 67.4%;
  height: 93%;
  margin-top: 1.25rem;
  padding: 0 1.25rem 0.625rem 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.75rem;
  line-height: 1.4;
}

.about-text::-webkit-scrollbar {
  width: 0.75rem;
}

.about-text::-webkit-scrollbar-track {
  background: #d0d0d0;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 0;
}

.about-text::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0;
  border: 0.0625rem solid #d0d0d0;
}

.about-text::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.about-photo {
  margin-top: 3.125rem;
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 0.625rem;
  box-sizing: border-box;
}

.about-photo img {
  border: 0.3125rem solid #000;
  border-color: #000 #fff #fff #000;
  max-width: 70%;
  max-height: 70%;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #d0d0d0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  position: relative;
  max-width: 34.375rem;
  max-height: 25rem;
  display: none;
  object-fit: contain;
  cursor: pointer;
  border: 0.3125rem solid;
  border-color: #fff #000 #000 #fff;
  overflow: hidden;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-image:hover .overlay-text {
  display: block;
}

.overlay-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  text-align: center;
  pointer-events: none;
}

.carousel-image:hover {
  transform: scale(1.05);
  filter: brightness(0.7) sepia(1) hue-rotate(190deg);
}

.carousel-image.active {
  display: block;
}

.carousel-arrows {
  display: flex;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #c0c0c0;
  border: 0.1875rem solid;
  border-color: #fff #000 #000 #fff;
  padding: 0.375rem;
  cursor: pointer;
  user-select: none;
  font-family: 'Press Start 2P', monospace;
  font-size: 1.875rem;
}

.arrow:active {
  background-color: #a0a0a0;
  border-color: #000 #fff #fff #000;
}

#game_window {
  width: 43.75rem;
  height: 25rem;
  display: none;
  position: absolute;
}

#game_window canvas {
  padding: 0.625rem;
  background: #9f9e9e;
  height: 100%;
  width: 100%;
  border: 0.1875rem solid #fff;
  border-top-color: #000;
  border-left-color: #000f;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

.link-button {
  margin-top: 0.625rem;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  color: black;
  background-color: #c0c0c0;
  border: 0.1875rem solid;
  border-color: #fff #000 #000 #fff;
  cursor: pointer;
  text-decoration: none;
}

.link-button:active {
  background-color: #a0a0a0;
  border-color: #000 #fff #fff #000;
}

.contact-content {
  padding: 4.0625rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.375rem;
}

.contact-line {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.contact-line img {
  width: 5rem;
  height: 5rem;
}

.link-text {
  margin-left: 4.375rem;
  border: 0.25rem solid;
  border-color: #fff #000 #000 #fff;
  padding: 0.3125rem;
  display: flex;
  width: 31.25rem;
}

.link-text span {
  align-self: center;
  margin-left: 6.25rem;
}