.window 
{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 1000px;
    height: 700px;
    background: silver;
    border: 2px solid black;
    z-index: 999; 
    box-shadow: 10px 10px 0px #000000a5;
    overflow: hidden;
}

.window-header
{
    background: #000080;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.close-button
{
    background: #c0c0c0;
    border: 2px solid #000;
    border-top-color: #fff;
    border-left-color: #fff;
    cursor: pointer;
    user-select: none;
}

.close-button:hover 
{
    background: #a0a0a0;
}

.close-button:active
{
    background: #777777;
    border: 2px solid #fff;
    border-top-color: #000;
    border-left-color: #000f;
}

.close-button span
{
    display: flex;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 20px;
    color: #e64e4e;
}

.window-content 
{
    padding: 10px;
    background: #9f9e9e;
    height: calc(100% - 30px);
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

.tabs-button button 
{
  font-family: 'Press Start 2P', monospace;
  font-size: 20px;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #fff #000 #000 #fff;
  padding: 6px 12px;
  color: black;
  cursor: pointer;
  user-select: none;
  box-shadow: none;
  outline: none;
}

.tabs-button button:active 
{
  border-color: #000 #fff #fff #000;
  background-color: #a0a0a0;
}

.tabs-button 
{
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.tabs 
{
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}
  
.tab-content 
{
    background: #d0d0d0;
    border: 3px solid #fff;
    border-top-color: #000;
    border-left-color: #000f;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
  
.about-container 
{
  display: flex;
  flex: 1;
  overflow: hidden;
}

.about-text 
{
  width: 67.4%;
  height: 93%;
  margin-top: 20px;
  padding: 0px 20px 10px 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 22px;
  line-height: 1.4;
}

.about-text::-webkit-scrollbar
{
  width: 12px;
}

.about-text::-webkit-scrollbar-track 
{
  background: #d0d0d0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0;
}

.about-text::-webkit-scrollbar-thumb 
{
  background: #888;
  border-radius: 0;
  border: 1px solid #d0d0d0;
}

.about-text::-webkit-scrollbar-thumb:hover 
{
  background: #555;
}

.about-photo 
{
  margin-top: 50px;
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.about-photo img 
{
  border: 5px solid #000;
  border-color: #000 #fff #fff #000;
  max-width: 70%;
  max-height: 70%;
}

.carousel-container 
{
    position: relative;
    width: 100%;
    height: 100%;
    background: #d0d0d0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
.carousel 
{
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image 
{
  position: relative;
  max-width: 550px;
  max-height: 400px;
  display: none;
  object-fit: contain;
  cursor: pointer;
  border: 5px solid;
  border-color: #fff #000 #000 #fff;
  overflow: hidden;
}

.carousel-image img
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-image:hover .overlay-text 
{
  display: block;
}

.overlay-text 
{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  pointer-events: none;
}

.carousel-image:hover 
{
  transform: scale(1.05);
  filter: brightness(0.7) sepia(1) hue-rotate(190deg);
}

.carousel-image.active 
{
  display: block;
}

.carousel-arrows 
{
  display: flex;
}

.arrow 
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #c0c0c0;
  border: 3px solid;
  border-color: #fff #000 #000 #fff;
  padding: 6px 6px;
  cursor: pointer;
  user-select: none;
  font-family: 'Press Start 2P', monospace;
  font-size: 40px;
}

.arrow:active 
{
  background-color: #a0a0a0;
  border-color: #000 #fff #fff #000;
}


#game_window 
{
  width: 700px;
  height: 400px;
  display: none;
  position: absolute;
}

#game_window canvas 
{
  padding: 10px;
  background: #9f9e9e;
  height: calc(100%);
  width: 100%;
  border: 3px solid #fff;
  border-top-color: #000;
  border-left-color: #000f;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

.link-button
{
  margin-top: 10px;
  display: inline-block;
  padding: 6px 12px;
  color: black;
  background-color: #c0c0c0;
  border: 3px solid;
  border-color: #fff #000 #000 #fff;
  cursor: pointer;
  text-decoration: none;
}

.link-button:active 
{
  background-color: #a0a0a0;
  border-color: #000 #fff #fff #000;
}


.contact-content 
{
  padding: 65px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 6px;
}

.contact-line 
{
  display: flex;
  align-items: center;
  padding: 4px;
}

.contact-line img 
{
  width:  90px;
  height: 90px;
}

.link-text
{
  margin-left: 70px;
  border: 4px solid;
  border-color: #fff #000 #000 #fff;
  padding: 5px;
  display: flex;
  width: 500px;
}

.link-text span
{
  align-self: center;
  margin-left: 100px;
}
 









